body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* message form */

#new-message-form {
  position: relative;
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}
