body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* message form */

#new-message-form {
  position: relative;
}

#new-message-form .form-control {
  border-width: 3px 1.5px 3px 3px;
}

#new-message-form.btn {
  border-width: 3px;
}

.item {
  display: inline-block;
  padding: 2rem;
  color: white;
  font-size: 1.5rem;
  position: relative;
}
hr {
  width: 40vw;
  height: 3vh;
  background-color: #fcd670;
}
.section-img {
  width: 22vh;
  height: 20vh;
}
