body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ol {
  list-style-type: none;
}
h4 {
  font-size: 1.2rem;
}

.item {
  display: inline-block;
  padding: 2rem;
  color: #4f4114;
  font-size: 1.5rem;
  position: relative;
}
hr {
  width: 40vw;
  height: 3vh;
  background-color: #fcd670;
}
.section-img {
  width: 22vh;
  height: 20vh;
}

.chat-box {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 40vw;
  height: 80vh;
  z-index: 100;
  background: linear-gradient(
    rgba(244, 208, 63, 0.5),
    rgba(249, 249, 222, 0.5)
  );
  /* background-image: linear-gradient(#f9f9de, #f4d03f); */
  border-color: rgb(245, 188, 87);
  border-top-left-radius: 5%;
}
